html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

canvas#canvas {
    /*Safari*/
    position: absolute;
}

form#angleForm {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

form#angleForm label span{
    font-size: 0.9rem;
    background: white;
    position: absolute;
    top: -8px;
    left: 20px;
    display: block;
    padding: 0 3px;
}

form#angleForm input {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
}
